<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
  <clr-dg-action-bar>
    <div class="clr-row">
      <div class="clr-col"></div>
      <div class="clr-col-2">
        <div class="btn-group btn-outline btn-sm">
          <button class="btn" (click)="onResetFilters()">Reset Filters</button>
          <button
            class="btn"
            [disabled]="!connection.pageInfo.hasPreviousPage"
            (click)="onPreviousPage()"
          >
            <clr-icon
              shape="caret"
              style="transform: rotate(270deg);"
            ></clr-icon>
          </button>
          <button
            class="btn"
            [disabled]="!connection.pageInfo.hasNextPage"
            (click)="onNextPage()"
          >
            <clr-icon
              shape="caret"
              style="transform: rotate(90deg);"
            ></clr-icon>
          </button>
        </div>
      </div>
    </div>
  </clr-dg-action-bar>

  <clr-dg-column [clrDgField]="'email'">E-Mail</clr-dg-column>
  <clr-dg-column [clrDgField]="'firstName'">First Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'lastName'">Last Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'birthDate'">Birth Date</clr-dg-column>
  <clr-dg-column [clrDgField]="'gender'"
    >Gender
    <clr-dg-filter>
      <app-gender-filter (genderFilterValue)="onGenderFilterChange($event)">
      </app-gender-filter>
    </clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'isMale'"
    >Is Male
    <clr-dg-filter>
      <app-is-male-filter (isMaleFilterValue)="onIsMaleFilterChange($event)">
      </app-is-male-filter>
    </clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'zipCode'"
    >Zip Code
    <clr-dg-filter>
      <app-zip-code-filter
        (zipCodeFilterValue)="onZipCodeFilterChange($event)"
      ></app-zip-code-filter>
    </clr-dg-filter>
  </clr-dg-column>

  <clr-dg-placeholder>We couldn't find any users!</clr-dg-placeholder>
  <clr-dg-row *ngFor="let user of connection.edges">
    <clr-dg-cell>{{ user.node.email }}</clr-dg-cell>
    <clr-dg-cell>{{ user.node.firstName }}</clr-dg-cell>
    <clr-dg-cell>{{ user.node.lastName }}</clr-dg-cell>
    <clr-dg-cell>{{ user.node.birthDate | date: 'yyyy-MM-dd' }}</clr-dg-cell>
    <clr-dg-cell>{{ user.node.gender }}</clr-dg-cell>
    <clr-dg-cell>{{ user.node.isMale }}</clr-dg-cell>
    <clr-dg-cell>{{ user.node.zipCode }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]"
        >Users per page</clr-dg-page-size
      >
      {{ connection.totalCount }} users
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
